In [1]:
import pandas as pd
import numpy as np

In [2]:
series=pd.Series(np.random.rand(34))

In [3]:
series

0     0.566627
1     0.994084
2     0.573140
3     0.161526
4     0.527627
5     0.585122
6     0.611339
7     0.008835
8     0.794148
9     0.970164
10    0.728333
11    0.187180
12    0.197963
13    0.137720
14    0.099519
15    0.686761
16    0.451732
17    0.253216
18    0.699558
19    0.059712
20    0.848205
21    0.142528
22    0.964643
23    0.705661
24    0.782581
25    0.311921
26    0.907873
27    0.445806
28    0.509128
29    0.345725
30    0.792285
31    0.562932
32    0.509400
33    0.056457
dtype: float64

In [4]:
series.dtype

dtype('float64')

In [5]:
print(type(series))

<class 'pandas.core.series.Series'>

In [6]:
type(series)

pandas.core.series.Series

In [7]:
series.index

RangeIndex(start=0, stop=34, step=1)

In [8]:
series.head()

0    0.566627
1    0.994084
2    0.573140
3    0.161526
4    0.527627
dtype: float64

In [9]:
series.tail()

29    0.345725
30    0.792285
31    0.562932
32    0.509400
33    0.056457
dtype: float64

In [10]:
series.head(22)

0     0.566627
1     0.994084
2     0.573140
3     0.161526
4     0.527627
5     0.585122
6     0.611339
7     0.008835
8     0.794148
9     0.970164
10    0.728333
11    0.187180
12    0.197963
13    0.137720
14    0.099519
15    0.686761
16    0.451732
17    0.253216
18    0.699558
19    0.059712
20    0.848205
21    0.142528
dtype: float64

In [11]:
series.tail(12)

22    0.964643
23    0.705661
24    0.782581
25    0.311921
26    0.907873
27    0.445806
28    0.509128
29    0.345725
30    0.792285
31    0.562932
32    0.509400
33    0.056457
dtype: float64

In [12]:
df=pd.DataFrame(np.random.rand(500,8),index=np.arange(500))

In [13]:
df

,0,1,2,3,4,5,6,7
0,0.232260,0.702248,0.331041,0.383551,0.827588,0.123256,0.786074,0.327253
1,0.036323,0.096996,0.080180,0.551221,0.586555,0.117507,0.229703,0.761235
2,0.571511,0.111625,0.683591,0.256919,0.494755,0.270028,0.536818,0.088514
3,0.108143,0.954678,0.481366,0.644880,0.908707,0.625236,0.503800,0.568319
4,0.857627,0.666895,0.450482,0.801588,0.878780,0.488527,0.485798,0.345008
...,...,...,...,...,...,...,...,...
495,0.055017,0.464850,0.517593,0.378416,0.512917,0.273362,0.874921,0.613271
496,0.686828,0.688862,0.336403,0.312245,0.936526,0.918743,0.645741,0.011971
497,0.745848,0.027187,0.217583,0.488017,0.135750,0.835830,0.299480,0.806618
498,0.705605,0.203278,0.802039,0.424615,0.568598,0.668035,0.200151,0.355535
499,0.213232,0.624651,0.709551,0.465616,0.249763,0.886231,0.515583,0.002678

In [14]:
type(df)

pandas.core.frame.DataFrame

In [15]:
df.columns

RangeIndex(start=0, stop=8, step=1)

In [16]:
df.to_numpy() # convert to array

array([[0.23226048, 0.70224842, 0.33104108, ..., 0.12325623, 0.78607374,
        0.3272535 ],
       [0.03632261, 0.09699633, 0.08018033, ..., 0.11750749, 0.22970347,
        0.76123543],
       [0.57151143, 0.11162502, 0.68359136, ..., 0.27002794, 0.53681754,
        0.08851366],
       ...,
       [0.74584829, 0.02718665, 0.21758262, ..., 0.83583033, 0.29948006,
        0.80661844],
       [0.70560509, 0.20327797, 0.80203877, ..., 0.66803474, 0.20015141,
        0.35553455],
       [0.21323234, 0.62465084, 0.70955059, ..., 0.88623078, 0.51558347,
        0.00267843]])

In [17]:
df.to_csv('code.csv')

In [18]:
df.head()

,0,1,2,3,4,5,6,7
0,0.232260,0.702248,0.331041,0.383551,0.827588,0.123256,0.786074,0.327253
1,0.036323,0.096996,0.080180,0.551221,0.586555,0.117507,0.229703,0.761235
2,0.571511,0.111625,0.683591,0.256919,0.494755,0.270028,0.536818,0.088514
3,0.108143,0.954678,0.481366,0.644880,0.908707,0.625236,0.503800,0.568319
4,0.857627,0.666895,0.450482,0.801588,0.878780,0.488527,0.485798,0.345008

In [19]:
df.tail()

,0,1,2,3,4,5,6,7
495,0.055017,0.464850,0.517593,0.378416,0.512917,0.273362,0.874921,0.613271
496,0.686828,0.688862,0.336403,0.312245,0.936526,0.918743,0.645741,0.011971
497,0.745848,0.027187,0.217583,0.488017,0.135750,0.835830,0.299480,0.806618
498,0.705605,0.203278,0.802039,0.424615,0.568598,0.668035,0.200151,0.355535
499,0.213232,0.624651,0.709551,0.465616,0.249763,0.886231,0.515583,0.002678

In [20]:
newdf=pd.read_csv("code.csv")

In [21]:
newdf

,Unnamed: 0,0,1,2,3,4,5,6,7
0,0,0.232260,0.702248,0.331041,0.383551,0.827588,0.123256,0.786074,0.327253
1,1,0.036323,0.096996,0.080180,0.551221,0.586555,0.117507,0.229703,0.761235
2,2,0.571511,0.111625,0.683591,0.256919,0.494755,0.270028,0.536818,0.088514
3,3,0.108143,0.954678,0.481366,0.644880,0.908707,0.625236,0.503800,0.568319
4,4,0.857627,0.666895,0.450482,0.801588,0.878780,0.488527,0.485798,0.345008
...,...,...,...,...,...,...,...,...,...
495,495,0.055017,0.464850,0.517593,0.378416,0.512917,0.273362,0.874921,0.613271
496,496,0.686828,0.688862,0.336403,0.312245,0.936526,0.918743,0.645741,0.011971
497,497,0.745848,0.027187,0.217583,0.488017,0.135750,0.835830,0.299480,0.806618
498,498,0.705605,0.203278,0.802039,0.424615,0.568598,0.668035,0.200151,0.355535
499,499,0.213232,0.624651,0.709551,0.465616,0.249763,0.886231,0.515583,0.002678

In [22]:
newdf.to_csv('index_false.csv',index=False)

In [23]:
df.head()

,0,1,2,3,4,5,6,7
0,0.232260,0.702248,0.331041,0.383551,0.827588,0.123256,0.786074,0.327253
1,0.036323,0.096996,0.080180,0.551221,0.586555,0.117507,0.229703,0.761235
2,0.571511,0.111625,0.683591,0.256919,0.494755,0.270028,0.536818,0.088514
3,0.108143,0.954678,0.481366,0.644880,0.908707,0.625236,0.503800,0.568319
4,0.857627,0.666895,0.450482,0.801588,0.878780,0.488527,0.485798,0.345008

In [24]:
df.describe()

,0,1,2,3,4,5,6,7
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,0.526699,0.485904,0.533356,0.481810,0.497127,0.470843,0.523224,0.509142
std,0.292056,0.282272,0.296296,0.290814,0.287321,0.287079,0.287489,0.286719
min,0.006852,0.000794,0.000298,0.003640,0.002160,0.001677,0.002514,0.002260
25%,0.294397,0.239541,0.244836,0.239402,0.241553,0.222243,0.280400,0.261529
50%,0.520757,0.485639,0.567309,0.465665,0.510738,0.439173,0.539468,0.516296
75%,0.777269,0.725689,0.792983,0.734543,0.750967,0.737214,0.778590,0.764097
max,0.999796,0.998700,0.999865,0.998113,0.999578,0.997451,0.998687,0.996966

In [25]:
df.loc[0,2]

0.3310410815712985

In [26]:
df.columns=list("abcdefgh") 
df

,a,b,c,d,e,f,g,h
0,0.232260,0.702248,0.331041,0.383551,0.827588,0.123256,0.786074,0.327253
1,0.036323,0.096996,0.080180,0.551221,0.586555,0.117507,0.229703,0.761235
2,0.571511,0.111625,0.683591,0.256919,0.494755,0.270028,0.536818,0.088514
3,0.108143,0.954678,0.481366,0.644880,0.908707,0.625236,0.503800,0.568319
4,0.857627,0.666895,0.450482,0.801588,0.878780,0.488527,0.485798,0.345008
...,...,...,...,...,...,...,...,...
495,0.055017,0.464850,0.517593,0.378416,0.512917,0.273362,0.874921,0.613271
496,0.686828,0.688862,0.336403,0.312245,0.936526,0.918743,0.645741,0.011971
497,0.745848,0.027187,0.217583,0.488017,0.135750,0.835830,0.299480,0.806618
498,0.705605,0.203278,0.802039,0.424615,0.568598,0.668035,0.200151,0.355535
499,0.213232,0.624651,0.709551,0.465616,0.249763,0.886231,0.515583,0.002678

In [27]:
df.loc[0,"d"]

0.38355088355246914

In [28]:
df.loc[497,"f"]

0.8358303260185646

In [29]:
df.drop('a',axis=1)

            b         c         d         e         f         g         h
0    0.702248  0.331041  0.383551  0.827588  0.123256  0.786074  0.327253
1    0.096996  0.080180  0.551221  0.586555  0.117507  0.229703  0.761235
2    0.111625  0.683591  0.256919  0.494755  0.270028  0.536818  0.088514
3    0.954678  0.481366  0.644880  0.908707  0.625236  0.503800  0.568319
4    0.666895  0.450482  0.801588  0.878780  0.488527  0.485798  0.345008
..        ...       ...       ...       ...       ...       ...       ...
495  0.464850  0.517593  0.378416  0.512917  0.273362  0.874921  0.613271
496  0.688862  0.336403  0.312245  0.936526  0.918743  0.645741  0.011971
497  0.027187  0.217583  0.488017  0.135750  0.835830  0.299480  0.806618
498  0.203278  0.802039  0.424615  0.568598  0.668035  0.200151  0.355535
499  0.624651  0.709551  0.465616  0.249763  0.886231  0.515583  0.002678

[500 rows x 7 columns]

In [30]:
df.drop(0,axis=0)

,a,b,c,d,e,f,g,h
1,0.036323,0.096996,0.080180,0.551221,0.586555,0.117507,0.229703,0.761235
2,0.571511,0.111625,0.683591,0.256919,0.494755,0.270028,0.536818,0.088514
3,0.108143,0.954678,0.481366,0.644880,0.908707,0.625236,0.503800,0.568319
4,0.857627,0.666895,0.450482,0.801588,0.878780,0.488527,0.485798,0.345008
5,0.429130,0.778120,0.155276,0.997309,0.381511,0.989743,0.647409,0.800467
...,...,...,...,...,...,...,...,...
495,0.055017,0.464850,0.517593,0.378416,0.512917,0.273362,0.874921,0.613271
496,0.686828,0.688862,0.336403,0.312245,0.936526,0.918743,0.645741,0.011971
497,0.745848,0.027187,0.217583,0.488017,0.135750,0.835830,0.299480,0.806618
498,0.705605,0.203278,0.802039,0.424615,0.568598,0.668035,0.200151,0.355535
499,0.213232,0.624651,0.709551,0.465616,0.249763,0.886231,0.515583,0.002678

In [33]:
df.iloc[0,0]

0.23226047978928277

In [34]:
df['a'][1]="Ishan Software"

In [35]:
df

,a,b,c,d,e,f,g,h
0,0.23226,0.702248,0.331041,0.383551,0.827588,0.123256,0.786074,0.327253
1,Ishan Software,0.096996,0.080180,0.551221,0.586555,0.117507,0.229703,0.761235
2,0.571511,0.111625,0.683591,0.256919,0.494755,0.270028,0.536818,0.088514
3,0.108143,0.954678,0.481366,0.644880,0.908707,0.625236,0.503800,0.568319
4,0.857627,0.666895,0.450482,0.801588,0.878780,0.488527,0.485798,0.345008
...,...,...,...,...,...,...,...,...
495,0.055017,0.464850,0.517593,0.378416,0.512917,0.273362,0.874921,0.613271
496,0.686828,0.688862,0.336403,0.312245,0.936526,0.918743,0.645741,0.011971
497,0.745848,0.027187,0.217583,0.488017,0.135750,0.835830,0.299480,0.806618
498,0.705605,0.203278,0.802039,0.424615,0.568598,0.668035,0.200151,0.355535
499,0.213232,0.624651,0.709551,0.465616,0.249763,0.886231,0.515583,0.002678

In [37]:
df.drop(['c','d'],axis=1,inplace=True)

In [38]:
df

                  a         b         e         f         g         h
0           0.23226  0.702248  0.827588  0.123256  0.786074  0.327253
1    Ishan Software  0.096996  0.586555  0.117507  0.229703  0.761235
2          0.571511  0.111625  0.494755  0.270028  0.536818  0.088514
3          0.108143  0.954678  0.908707  0.625236  0.503800  0.568319
4          0.857627  0.666895  0.878780  0.488527  0.485798  0.345008
..              ...       ...       ...       ...       ...       ...
495        0.055017  0.464850  0.512917  0.273362  0.874921  0.613271
496        0.686828  0.688862  0.936526  0.918743  0.645741  0.011971
497        0.745848  0.027187  0.135750  0.835830  0.299480  0.806618
498        0.705605  0.203278  0.568598  0.668035  0.200151  0.355535
499        0.213232  0.624651  0.249763  0.886231  0.515583  0.002678

[500 rows x 6 columns]

In [39]:
df['f'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
495    False
496    False
497    False
498    False
499    False
Name: f, Length: 500, dtype: bool